{% set title = 'League' %}
{% extends "::base.html.twig" %}
{% block content %}
<div id='affichageLeague'>
	<h3>{{League.nom}} - {{League.sport.nom}}</h3>
	<br />
	<h4>Description :</h4>
	<p>{{League.description}}</p>
	<br />
	<h4>Calendrier</h4>
	<span class='calendar'>Calendrier à venir ici</span>
	<br />
	<h4>Equipes :</h4>
	<span class='equipe'>
		<table class='table'>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Sport</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for Equipe in Equipes %}
					<tr>
						<td>{{ Equipe.nom | capitalize }}</td>
						<td>{{ Equipe.sport.nom | capitalize }}</td>
						<td><a href='{{url('pico_league_affichage', {'Type': 'Equipes','Id': Equipe.id}) }}'><div class='glyphicon glyphicon-arrow-right text-center'></div></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>	
	</span>
</div>
{% endblock %}