{% set title = 'Equipe' %}
{% extends "::base.html.twig" %}
{% block content %}
<div id='affichageEquipe' class="col-md-12">
	<h3>{{Equipe.nom}} </h3>
	<h5>Club : <a href='{{url('pico_league_affichage', {'Type': 'Clubs','Id': Equipe.club.id}) }}'>{{Equipe.club.nom}}</a></h5>
	{% if League[0] is defined %}
		<h5>Ligue : <a href='{{url('pico_league_affichage', {'Type': 'Clubs','Id': League[0].id}) }}'>{{League[0].nom}}</a></h5>
	{% endif %} 
	<br />
	<h4>Description :</h4>
	<p>{{Equipe.description}}</p>
	<br />
	<h4>Sport :</h4>
	<p>{{Equipe.sport.nom}}</p>
	<br />
	{% include 'PicoLeagueBundle:Affichage:subView/calendrier.html.twig' with {'type': 'groupe','id':Equipe.id, 'AllowedUser':isAllowed} %}
	<br />
	<br />
	<h4>Membres :</h4>
	<span class="membres col-md-12">
		<table class='table'>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Status</th>
					{%if isAllowed%} <th>Action</th> {%endif%}
			</thead>
			<tbody>
				{% for Membre in Membres %}
					<tr>
						<td>{{Membre.User | capitalize }}</td>
						<td>
								{%if Membre.boolAccepted == 1 %}
									Accepté
								{% else %}
									En Attente
								{% endif %}
							
						</td>
						{%if isAllowed%}
							<td>
								<form class="gestion-equipe form-inline">
								{% if Membre.boolAccepted != 1 %}
									<div class="form-group">
										<input class="form-control" type="radio" id="accepter_{{Membre.Id}}" name="etat_{{Membre.Id}}" value="verify" />
										<label for="accepter_{{Membre.Id}}"><div class='glyphicon glyphicon-ok'></div></label>
									</div>
								{% else %}
									<div class="form-group">
										<button type="reset" class="glyphicon glyphicon-trash"></button>
									</div>
								{% endif%}
									<div class="form-group">
										<input class="form-control" type="radio" id="exclure_{{Membre.Id}}" name="etat_{{Membre.Id}}" value="delete" />
										<label for="exclure_{{Membre.Id}}"><div class='glyphicon glyphicon glyphicon-remove'></div></label>
									</div>
								</form>
							</td>
						{%endif%}
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="{%if isAllowed%} 3 {% else %} 2 {%endif%}">
						<a href ="{{url('subscribe_to_equipe', {'Id': Equipe.club.id}) }}">Postuler dans l'equipe</a>
						{%if isAllowed%}
						-
						<a href ="javascript:gestionEquipe('{{Equipe.Id}}')">Gerer les invitations</a>
						{% endif %}
					</td>
			</tfoot>
			</table>
	</span>
</div>
{% endblock %}