{% set title = 'Equipe' %}
{% extends "::base.html.twig" %}
{% block content %}
<div id='affichageEquipe' class="col-md-12">
	<h3>{{Equipe.nom}} </h3>
	<h5>Club : <a href='{{url('pico_league_affichage', {'Type': 'Clubs','Id': Equipe.club.id}) }}'>{{Equipe.club.nom}}</a></h5>
	{% if League[0] is defined %}
		<h5>Ligue : <a href='{{url('pico_league_affichage', {'Type': 'Ligues','Id': League[0].id}) }}'>{{League[0].nom}}</a></h5>
	{% endif %} 
	<br />
	<h4>Description :</h4>
	<p>{{Equipe.description}}</p>
	<br />
	<h4>Sport :</h4>
	<p>{{Equipe.sport.nom}}</p>
	<br />
	<!-- Score form -->
	{% if isAllowed %}
		{% if form is defined %}
			{{ form(form) }}
		{% endif %}
	{% else %}
		<p>Points : {{ Equipe.score }}</p>
	{% endif %}

	<!-- End score form -->
	{% include 'PicoLeagueBundle:Affichage:subView/calendrier.html.twig' with {'type': 'groupe','id':Equipe.id, 'AllowedUser':isAllowed} %}
	<br />
	<br />
	<h4>Membres :</h4>
	<span class="membres col-md-12">
		<table class='table'>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Status</th>
					{%if isAllowed%} <th>Action</th> {%endif%}
			</thead>
			<tbody>
				{% set CurrentUser = false %}
				{% for Membre in Membres %}
					{%if (app.user.id is defined) and (Membre.user.id == app.user.id) %}
						{% set CurrentUser %}
							<tr>
								<td>{{Membre.User | capitalize }}</td>
								<td>
										{%if Membre.boolAccepted == 1 %}
											Accepté
										{% else %}
											En Attente
										{% endif %}
								</td>
								{%if isAllowed%}
									<td>
										<form class="gestion-equipe form-inline">
										{% if Membre.boolAccepted != 1 %}
											<div class="form-group">
												<input class="form-control" type="radio" id="accepter_{{Membre.Id}}" name="etat_{{Membre.Id}}" value="verify" />
												<label for="accepter_{{Membre.Id}}"><div class='glyphicon glyphicon-ok'></div></label>
											</div>
										{% else %}
											<div class="form-group">
												<button type="reset" class="glyphicon glyphicon-trash"></button>
											</div>
										{% endif%}
											<div class="form-group">
												<input class="form-control" type="radio" id="exclure_{{Membre.Id}}" name="etat_{{Membre.Id}}" value="delete" />
												<label for="exclure_{{Membre.Id}}"><div class='glyphicon glyphicon glyphicon-remove'></div></label>
											</div>
										</form>
									</td>
								{%endif%}
							</tr>
						{% endset %}
					{% else %}
						<tr>
							<td>{{Membre.User | capitalize }}</td>
							<td>
									{%if Membre.boolAccepted == 1 %}
										Accepté
									{% else %}
										En Attente
									{% endif %}
							</td>
							{%if isAllowed%}
								<td>
									<form class="gestion-equipe form-inline">
									{% if Membre.boolAccepted != 1 %}
										<div class="form-group">
											<input class="form-control" type="radio" id="accepter_{{Membre.Id}}" name="etat_{{Membre.Id}}" value="verify" />
											<label for="accepter_{{Membre.Id}}"><div class='glyphicon glyphicon-ok'></div></label>
										</div>
									{% else %}
										<div class="form-group">
											<button type="reset" class="glyphicon glyphicon-trash"></button>
										</div>
									{% endif%}
										<div class="form-group">
											<input class="form-control" type="radio" id="exclure_{{Membre.Id}}" name="etat_{{Membre.Id}}" value="delete" />
											<label for="exclure_{{Membre.Id}}"><div class='glyphicon glyphicon glyphicon-remove'></div></label>
										</div>
									</form>
								</td>
							{%endif%}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
			<tfoot>
				{% if CurrentUser != false %}
					{{CurrentUser}}
					{%if isAllowed%}
						<tr>
							<td colspan='3'>
								<button type='button' onclick="javascript:gestionEquipe('{{Equipe.Id}}')">Gerer les invitations</button>
							</td>
						</tr>
					{%endif%}
				{% else %}
					<tr>
						<td>
						{%if (app.user.id is defined)%}
							{{ app.user.username | capitalize }}
						{%else%}
							Invité
						{%endif%}
						</td>
						<td>
							<button type='button' onclick="location.href='{{url('subscribe_to_equipe', {'Id': Equipe.id}) }}'">Postuler dans l'equipe</button>
						</td>
						{%if isAllowed%}
							<td >
								<button type='button' onclick="javascript:gestionEquipe('{{Equipe.Id}}')">Gerer les invitations</button>
							</td>
						{%endif%}
					</tr>
				{%endif%}
			</tfoot>
		</table>
	</span>
</div>
{% endblock %}