{% block extrascript %}
{% stylesheets 
	'@PicoLeagueBundle/Resources/public/jquery-ui-1.11.2.custom/jquery-ui.css'
	'@PicoLeagueBundle/Resources/public/Jquery-ui-multiselect-widget/jquery.multiselect.css' 
%}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
	{% javascripts
		'@PicoLeagueBundle/Resources/public/jquery-ui-1.11.2.custom/jquery-ui.js'
		'@PicoLeagueBundle/Resources/public/Jquery-ui-multiselect-widget/src/jquery.multiselect.js' 
	%}
    	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% set title = 'Club' %}
{% extends "::base.html.twig" %}
{% block content %}
<div id='affichageClub'>
	<h3>{{Club.nom}}</h3>
	<br />
	<h4>Description :</h4>
	<p>{{Club.description}}</p>
	<br />
	<h4>Adresse :</h4>
	<p>{{Club.adresse}}</p>
	<br />
	{% include 'PicoLeagueBundle:Affichage:subView/calendrier.html.twig' with {'type': 'club','id':Club.id, 'AllowedUser':isAllowed} %}
	<br />
	<br />
	<h4>Equipes :</h4>
	<span class='equipe'>
		<table class='table'>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Sport</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for Equipe in Equipes %}
					<tr id='row_{{Equipe.Id}}'>
						<td>{{ Equipe.nom | capitalize }}</td>
						<td>{{ Equipe.sport.nom | capitalize }}</td>
						<td>
							<a href='{{url('pico_league_affichage', {'Type': 'Equipes','Id': Equipe.id}) }}'>
								<div class='glyphicon glyphicon-arrow-right text-center'></div>
							</a>
							{% if isAllowed == true %}
								<a href='#' onclick='javascript:displayForm("Equipes","{{Club.id}}","{{Equipe.id}}")' type="button" data-toggle="modal" data-target="#modalDynamicForm">
									<div class='glyphicon glyphicon-edit text-center'></div>
								</a>
								<a href='javascript:remove("Equipes","{{Equipe.id}}")'>
									<div class='glyphicon glyphicon-remove text-center'></div>
								</a>
							{%endif%}
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<thead>
				{% if isAllowed == true%}
					<tr>
						<td colspan='3'>
							<button onclick='javascript:displayForm("Equipes","{{Club.id}}")' type="button" data-toggle="modal" data-target="#modalDynamicForm">Ajouter une equipe</button>
						</td>
					</tr>
				{% endif%}
			</thead>
		</table>	
	</span>
</div>
{% endblock %}