{% set title = '{{Type}}' %}
{% block body %}
	<h2>{{Type}}</h2>
	{% if Error != false %}
		{{Error}}
	{% else %}
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Description</th>
					{% for info in InfoComplementaire %}
						<th>{{info}}</th>
					{% endfor %}
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{% for Information in Liste %}
				<tr>
					<td>{{Information.nom}}</td>
					<td>{{Information.description}}</td>
					{% for info in InfoComplementaire %}
						<td>{{attribute(Information, info).nom}}</td>
					{% endfor %}
					<td><a href='../../affichage/{{Type}}/{{Information.id}}'> Lien represente par une fleche </a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{%endif%}
{% endblock %}