<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    {% stylesheets 'bundles/picoassets/css/*' filter="cssrewrite" %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
      <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    </head>
    <body>
      <div class="container-fluid">
        <header>
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">
                  PicoPlan
                </a>
              </div>
              <ul class="nav navbar-nav">
                <li role="presentation">
                  <a href="{{url('pico_league_affichage')}}">
                    <span class="glyphicon glyphicon-list"></span>
                    Ligues
                  </a>
                </li>
                <li role="presentation">
                  <a href="#">
                    <span class="glyphicon glyphicon-calendar"></span>
                    Calendriers
                  </a>
                </li>
                <li role="presentation">
                  <a href="{{ url('pico_news_show') }}">
                    <span class="glyphicon glyphicon-cog"></span>
                    News
                  </a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  {% if app.user.permission < 2 %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >
                        <span class="glyphicon glyphicon-cog"></span>
                        Gestion avancée
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a href="{{ url('pico_league_create_sport') }}">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            Création de sport
                          </a>
                        </li>
                        <li>
                          <a href="{{ url('pico_league_create_league') }}">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            Création de ligue
                          </a>
                        </li>
                      </ul>
                    </li>
                  {% endif %}
                {% endif %}
              </ul>
              <form role="search" class="navbar-form navbar-left" action="{{ url('user_find') }}" method="GET">
                <div class="input-group">
                  <input type="text" name="username" id="username" class="form-control" placeholder="Chercher quelqu'un">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Go !</button>
                  </span>
                </div>
              </form>
              <ul class="nav navbar-nav pull-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <li>
                    <div class="navbar-profile-pic">
                      <img src="{% if  app.session.get("profile_pic") %}{{ asset('uploads/user/img') }}/{{ app.session.get("profile_pic") }}{% else %} {{ asset('bundles/picoassets/images/') }}/anonuser.png{% endif %}" alt="{{ app.user.username }}">
                  </div>
                  </li>
                  <li>
                    <a href="{{ path('user_show') }}">{{ app.user.username }}</a>
                  </li>
                  <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                      <span class="glyphicon glyphicon-off"></span>
                    </a>
                  </li>
                {% else %}
                  <li>
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                  </li>
                {% endif %}
                </li>
              </ul>
            </nav>
        </header>
      </div>
      <div class="container-fluid"> <!-- CONTAINER -->
        <div id="content"> <!-- Block content -->
          <div id='body'>
            {% if (alert_info is defined) and (alert_info != false) %}
              <div id="alert-info" class="alert alert-{{ alert_class }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <p>
                    {{ alert_info}}
                  </p>
              </div>
            {% endif %}
            {% block content %}{% endblock %}
          </div>
        </div> <!-- End block content -->
        
      </div> <!-- End CONTAINER -->
      <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script> <!-- FOSRoutingJsBundle -->
      <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
      {% javascripts
        '@PicoAssetsBundle/Resources/public/javascripts/*'
        '@PicoAssetsBundle/Resources/public/javascripts/library/*'
        '@PicoAssetsBundle/Resources/public/javascripts/bootstrap/**' %}
        <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% block extrascript %}{% endblock extrascript %}
    </body>
</html>
