{% extends '::base.html.twig' %}
{% block content %}
  <!-- CAROUSEL -->
    <div class="carousel slide" id="home-carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{{ asset('bundles/picoassets/images/home/soccer.jpg') }}" alt="image foot">
          <div class="carousel-caption">
            <h3>Viendez, c'est trop cool</h3>
            <p>Et encore mieux</p>
          </div>
        </div>

        <div class="item">
          <img src="{{ asset('bundles/picoassets/images/home/bike.jpg') }}" alt="image foot">
          <div class="carousel-caption">
            <h3>Viendez, c'est trop badass</h3>
            <p>Et encore mieux</p>
          </div>
        </div>

        <div class="item">
          <img src="{{ asset('bundles/picoassets/images/home/climbing.jpg') }}" alt="image foot">
          <div class="carousel-caption">
            <h3>Viendez, c'est trop grand</h3>
            <p>Et encore mieux</p>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <!-- END CAROUSEL -->

  <!-- WHAT'S THIS ? -->
    <div class="presentation">
      <h2><span>Qu'est-ce que c'est ?<span></h2>
      <p class="presentation-text">PicoPlan est un boosteur social pour la Maison des Ligues de Lorraine.</p>
      <p class="presentation-text">Mis au point par une équipe de jeunes talents, PicoPlan est pratique, utile, intelligent et bien élevé !</p>
      <div class="row presentation-btn">
        <div class="col-md-6 col-md-offset-3">
          <p>
            <a href="{{ url("user_register")}}" class="btn btn-lg btn-primary">
              Créer un compte
            </a>
            |
            <a href="{{ url("fos_user_security_login")}}" class="btn btn-lg btn-success">
              Se connecter
            </a>
          </p>
        </div>
      </div>
    </div>
  <!-- END WHAT'S THIS ? -->

  <!-- HOW IT WORKS -->
    <div class="presentation lvl-2 row">

      <h2><span>Comment ça marche ?</span></h2>

      <div class="col-md-5 col-md-offset-1 sub-presentation">
        <div class="img-heading">
          <img src="{{ asset('bundles/picoassets/images/home')}}/monitor_256px.png">
        </div>
        <div class="sub-heading">
          <p>Inscrivez-vous en ligne.</p>
        </div>
        <div class="sub-content">
          <p>Il suffit de vous connecter et de faire la demande en d'inscription en ligne auprès de votre capitaine d'équipe pour commencer à utiliser PicoPlan.</p>
        </div>
      </div>

      <div class="col-md-5 sub-presentation">
        <div class="img-heading">
          <img src="{{ asset('bundles/picoassets/images/home')}}/guestbook_256px.png">
        </div>
        <div class="sub-heading">
          <p>Consultez votre calendrier personnel.</p>
        </div>
        <div class="sub-content">
          <p>PicoPlan met à votre disposition un calendrier personnel actualisé par vos capitaines d'équipes et par les responsables des Ligues.</p>
        </div>
      </div>

      <div class="col-md-5 col-md-offset-1 sub-presentation">
        <div class="img-heading">
          <a href="#">
            <img src="{{ asset('bundles/picoassets/images/home')}}/chat_256px.png">
          </a>
        </div>
        <div class="sub-heading">
          <p>Discutez avec vos coéquipiers.</p>
        </div>
        <div class="sub-content">
          <p>Un système de messagerie vous permet de rester en contact avec vos coéquipiers sans avoir besoin d'un numéro de téléphone.</p>
        </div>
      </div>

      <div class="col-md-5 sub-presentation">
        <div class="img-heading">
          <img src="{{ asset('bundles/picoassets/images/home')}}/slidge_256px.png">
        </div>
        <div class="sub-heading">
          <p>Profitez de votre passion !</p>
        </div>
        <div class="sub-content">
          <p>En vous connectant à PicoPlan, vous gagnez du temps et de l'énergie. Les deux vous seront pleinenment utiles dans l'exercice de votre passion !</p>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <!-- END HOW IT WORKS -->

    <!-- CALENDAR -->
    <div class="row">
      <div class="col-md-6 presentation">
        <h2>Votre calendrier personnel !</h2>
        <p class="presentation-text">
          Parce qu'il doit jongler entre sa passion et la vie de tous les jours, la première problématique du sportif est la gestion de sont temps.</p>
        <p class="presentation-text">
          Partant de ce simple constat, PicoPlan s'organise autour de votre calendrier, généré selon les événements relatifs à vos équipes.
        </p>
        <p class="presentation-text">
          PicoPlan vous permet de vous organiser en coup d'œil !
        </p>
      </div>
      <div class="col-md-6 presentation">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <p class="panel-title"><strong>Votre calendrier personnel</strong></p>
            </div>
            <div class="panel-body">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CALDENDAR -->

    <!-- NEWS FEED -->
    <div class="row presentation lvl-2">
      <div class="col-md-6 presentation lvl-2">
        <div class="panel panel-danger" id="hom-news-panel">
            <div class="panel-heading">
              <p class="panel-title"><strong>Votre fil d'information</strong></p>
            </div>
            <div class="panel-body body">
              {% if articles is defined %}
                {% for item in articles %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <p class="panel-title">
                        <strong>{{ item.title }}</strong> -- par <a href="{{ url('user_show')}}/{{ item.author }}">{{ item.author }}</a>
                      </p>
                    </div>
                    <div class="panel-body">
                      <p>{{ item.content }}</p>
                    </div>
                    <div class="panel-footer">
                      <p>Publié le {{ item.date }}</p>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
      </div>
      <div class="col-md-6 presentation lvl-2">
        <h2>La Maison des Ligues vous tient informé !</h2>
        <p class="presentation-text">
          Picoplan met en place un système de publication d'articles qui permet aux gérants des Ligues de vous informer des événements marquants tels que les compétitions à venir ou les résultats de tournois
        </p>
        <p class="presentation-text">
          Plus aucune info de vous échappera !
        </p>
      </div>
    </div>
    <!-- END NEWS FEED -->

    <!-- WHO ARE WE ? -->
    <div class="presentation">
      <div role="tabpanel">
        <h2>Qui sommes-nous ?</h2>
        <!-- Nav tabs -->
        <ul class="pic-nav" id="who-are-we" role="tablist">
          <li role="presentation" class="active">
            <a href="#leo" aria-controls="leo" role="tab" data-toggle="tab">
              <img src="{{ asset('bundles/picoassets/images')}}/tux.gif" alt="Creator picture">
            </a>
          </li>
          <li role="presentation">
            <a href="#roland" aria-controls="roland" role="tab" data-toggle="tab">
              <img src="{{ asset('bundles/picoassets/images/home')}}/roland.jpg" alt="Creator picture">
          </li>
          <li role="presentation">
              <a href="#abde" aria-controls="abde" role="tab" data-toggle="tab">
                <img src="{{ asset('bundles/picoassets/images/home')}}/abde.jpg" alt="Creator picture">
              </a>
          </li>
          <li role="presentation">
            <a href="#robin" aria-controls="robin" role="tab" data-toggle="tab">
              <img src="{{ asset('bundles/picoassets/images')}}/tux.gif" alt="Creator picture">
            </a>
          </li>
          <li role="presentation">
            <a href="#jordan" aria-controls="jordan" role="tab" data-toggle="tab">
              <img src="{{ asset('bundles/picoassets/images')}}/tux.gif" alt="Creator picture">
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="leo">
            <p class="presentation-text">
              <strong>Léonard Picot</strong>
            </p>
            <p class="presentation-text">
              "..."
            </p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="roland">
            <p class="presentation-text">
              <strong>Renaud Bellec</strong>
            </p>
            <p class="presentation-text">
              "Barrez-vous, cons de mimes !"
            </p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="abde">
            <p class="presentation-text"><strong>Abdessamad Gérard</strong></p>
            <p class="presentation-text">
              "Si tu pars en couille, suis-moi c’est sur mon chemin. "
            </p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="robin">
            <p class="presentation-text"><strong>Robin Le Dru</strong></p>
            <p class="presentation-text">
              "..."
            </p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="jordan">
            <p class="presentation-text"><strong>Jordan Rosemond</strong></p>
            <p class="presentation-text">
              "..."
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- END WHO ARE WE ? -->
{% endblock content %}

{% block extrascript %}
    <!-- FULL CALENDAR CODE -->

      <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script> <!-- ADesignCalendar -->
      <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
      <script>
        $(document).ready(function() {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                // put your options and callbacks here
            })

        });
    </script>
{% endblock extrascript %}