{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">  
      <div class="panel-heading">
        <p class="panel-title">
          Créez un votre compte afin de profiter pleinement de PicoPlan
        </p>
      </div>
      <div class="panel-body">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
          <div class="form-group form-group-lg">
              {{ form_errors(form) }}
          </div>
          <div class="form-group form-group-lg">
              {{ form_label(form.username, "Choisissez un nom d'utilisateur", {"label_attr": {"class": "col-sm-3 control-label"}})}}
              {{ form_errors(form.username) }}
              <div class="col-sm-9">
                {{ form_widget(form.username, {"attr": {"class": "form-control"}}) }}
              </div>
          </div>
          <div class="form-group form-group-lg">
              {{ form_label(form.last_name, "Votre nom", {"label_attr": {"class": "col-sm-3 control-label"}})}}
              {{ form_errors(form.last_name) }}
              <div class="col-sm-9">
                {{ form_widget(form.last_name, {"attr": {"class": "form-control"}}) }}
              </div>
          </div>
          <div class="form-group form-group-lg">
              {{ form_label(form.first_name, "Votre prénom", {"label_attr": {"class": "col-sm-3 control-label"}})}}
              {{ form_errors(form.first_name) }}
              <div class="col-sm-9">
                {{ form_widget(form.first_name, {"attr": {"class": "form-control"}}) }}
              </div>
          </div>
          <div class="form-group form-group-lg">
              {{ form_label(form.phone, "Votre numéro de téléphone", {"label_attr": {"class": "col-sm-3 control-label"}})}}
              {{ form_errors(form.phone) }}
              <div class="col-sm-9">
                {{ form_widget(form.phone, {"attr": {"class": "form-control"}}) }}
              </div>
          </div>
          <div class="form-group form-group-lg">
              {{ form_label(form.email, "Votre email", {"label_attr": {"class": "col-sm-3 control-label"}})}}
              {{ form_errors(form.email) }}
              <div class="col-sm-9">
                {{ form_widget(form.email, {"attr": {"class": "form-control"}}) }}
              </div>
          </div>
          <div class="form-group form-group-lg">
              {{ form_label(form.plainPassword.first, "Votre mot de passe", {"label_attr": {"class": "col-sm-3 control-label"}})}}
              {{ form_errors(form.plainPassword.first) }}
              <div class="col-sm-9">
                {{ form_widget(form.plainPassword.first, {"attr": {"class": "form-control"}}) }}
              </div>
          </div>
          <div class="form-group form-group-lg">
              {{ form_label(form.plainPassword.second, "Confirmez votre mot de passe", {"label_attr": {"class": "col-sm-3 control-label"}})}}
              {{ form_errors(form.plainPassword.second) }}
              <div class="col-sm-9">
                {{ form_widget(form.plainPassword.second, {"attr": {"class": "form-control"}}) }}
              </div>
          </div>
          {{ form_widget(form._token) }}
          <p>
            <button class="btn btn-primary btn-lg pull-right" type="submit" value="{{ 'registration.submit'|trans }}">
              VALIDER ! 
            </button>
          </p>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
