
<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% block body %}
 {{ form_start(form, {'attr': {'class':'form-horizontal' } } ) }}
{{ form_rest(form) }}

{{ form_widget(form.save, {'attr': {'class':'btn btn-primary col-s' } } ) }}

 {{ form_end(form )}}
 <script>
 	function validateform(type, id)
 	{
 		$.ajax({
		type: "POST",
		url: Routing.generate('calendar_manager_homepage', { "type":type,"id": id}),
		data: $('#eventform').serialize(), // serializes the form's elements.
		success: function(data)
		{
			if(data['status']=='ok'){
				location.reload();location.reload();
			}
			else{
				$('#eventform').html('<span style="color:red;">Une erreur est survenue!</span>'+data);
			}
		}
		}); 
 	}
 </script>
{% endblock %}