{% block body %}
<div>
	<p><h3> Titre : </h3> {{ event.title }}</p>
	<p><h3> Description : </h3> {{ event.description }}</p>
	<p><h3> Dates : </h3>{{ event.datetimeStart|date('Y-m-d : h-i-s') }} - {{ event.datetimeEnd|date('Y-m-d : h-i-s') }}</p>
{% if repeatingexist is defined %}
    <p><h3> Date de répétition : </h3> {{ repeatingexist.dateStartrepeat|date('Y-m-d') }} - {{ repeatingexist.dateEndrepeat|date('Y-m-d') }}</p>
    <p><h3> Frequence : </h3> {{ repeatingexist.frequency }}</p>
{% endif %}
    <p> 
    	<h3> Actions : </h3>
		<ul>
			<li><a id="edit " href="{{ path('calendar_manager_edit', { 'id': event.id }) }}">Modifier</a></li>
			<li><a id="delete" href="{{ path('calendar_manager_delete', { 'id': event.id }) }}">Supprimer</a></li>
		</ul>
	</p>
</div>
{% endblock %}