{% extends "::base.html.twig" %}

{% block content %}
      <div class="col-md-6">
        {% if image is defined %}
          <img width="150" height="150" src="{{ image.path }}" />
        {% endif %}
        <h2>{{ title }}</h2>
        <h4>Publié par <a href="{{ path('user_show', {'username': author}) }}">{{ author }}</a> le {{ date }}</h4>
        <p>{{ content }}</p>
{% endblock content %}

{% block extrascript %}
{% endblock extrascript %}